<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>password</th>
            <th>profession</th>
        </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{password}}</td>
            <td>{{profession}}</td>
            <td>
                <a href="#nothing" class="btn btn-info" id="edit-{{id}}">Edit</a>
                <a href="#nothing" class="btn btn-info" id="remove-{{id}}">Remove</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>